{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block page_layout %}
<div class="page-header">
    <h1>hello {% if name %}{{name}}{%else%}Stranger{%endif%}</h1>
    <div class="container">
        {% if not known %}
        <p>Pleased to meet You</p>
        {% else %}
        <p>Nice to meet you again</p>
        {% endif %}
    </div>
</div>
<form method="post">
    <div class="form-group">
    {{form.hidden_tag()}}
    {{form.name.label}}
    {{form.name(class='form-control', placeholder='enter your name here')}}
    </div>
    {{form.submit(class='btn btn-secondary')}}
</form>
{% endblock %}

